.scrollableLicensingDetails {
  margin-top: 1rem;
  max-height: 250px;
  overflow-y: auto;
}

.licensingDetail {
  margin-bottom: 1rem;
  display: flex;
  flex-flow: row;
  justify-content: flex-start;

  .licensingDetailTitle {
    min-width: 200px;
  }
}
