.drawerSearchResults {
  display: grid;
  grid: auto auto / auto auto auto;
  gap: 10px;


  :global {
    .plyr {
      min-width: 150px !important;
    }
  }
}

.drawerSearchResult0 {
  grid-column-start: 1;
  grid-column-end: 1;
}

.drawerSearchResult1 {
  grid-column-start: 2;
  grid-column-end: 2;
}

.drawerSearchResul2 {
  grid-column-start: 3;
  grid-column-end: 3;
}
