@import '~@boclips-ui/styles/src/colors';

.success-notification {
  background-color: @success-bg;
  border-left-color: @success;
  border-radius: 0.25rem;
  border-left-width: 0.5rem;

  .close-icon-wrapper {
    padding-top: 5px;
  }
}

.error-notification {
  background-color: #ffefef;
  border-left-color: @error;
  border-radius: 0.25rem;
  border-left-width: 0.5rem;

  .close-icon-wrapper {
    padding-top: 5px;
  }
}

