@import '~@boclips-ui/styles/src/colors';

.videoAIMetadata {
  display: grid;
  grid-gap: 1.5rem;

  grid-column-start: 2;
  grid-column-end: 26;
  grid-row-start: 5;
  grid-row-end: 5;
}

.videoAIContent {
  .spinner {
    color: @warning;
  }

  .outcomeList {
    padding-left: 1rem;
    list-style: inherit;
  }

  .learningOutcomes {
    white-space: pre-line;
  }
}