version: 2
updates:
- package-ecosystem: npm
  directory: "/"
  schedule:
    interval: daily
    time: "08:00"
    timezone: Europe/London
  open-pull-requests-limit: 30
  versioning-strategy: increase
  ignore:
  - dependency-name: "*"
    update-types: ["version-update:semver-patch"]
  groups:
    sentry:
      applies-to: version-updates
      patterns:
      - "@sentry/*"
    tsparticles:
      applies-to: version-updates
      patterns:
      - "tsparticles"
      - "@tsparticles/*"
    react-query:
      applies-to: version-updates
      patterns:
      - "@tanstack/react-query*"
