@import '@boclips-ui/styles/src/colors';

.shareButton {
  --bo-ui-button-svg-height: 24px;
  --bo-ui-button-svg-width: 24px;
}

.bodalButtons {
  align-content: center;
  justify-content: center!important;
  margin-bottom: 3rem;

  > span {
    position: absolute;
    right: 0;
  }
}
