@import '~@boclips-ui/styles/src/colors';
@import '~@boclips-ui/styles/src/breakpoints';


.cardWrapper {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-gap: 1rem 1.5rem;
}

.skeleton {
  #skeletonAnimation;

  &.header {
    height: 2rem;
    width: 60%;
  }

  &.description {
    height: 4rem;
    width: 100%;
    border-bottom: none;
  }

  &.tab {
    width: 10%;
    height: 2rem;
  }

  &.cardWrapper {
    background: transparent;

    & > div {
      height: 300px;
      width: 100%;
      #skeletonAnimation
    }
  }
}

.description {
  padding-bottom: 1.5rem;
  border-bottom: 2px solid @blue-400;
}


#skeletonAnimation {
  animation: skeleton ease-in 1s infinite;
  background: linear-gradient(90deg,
  @gray-100 25%,
  @gray-300 37%,
  @gray-100 63%);

  background-size: 200% 200%;
  border-color: @gray-200;
}

@media screen and (min-width: @screen-sm) {
  .cardWrapper {
    grid-template-columns:repeat(1, minmax(0, 1fr));
  }
}

@media screen and (min-width: @screen-md) {
  .cardWrapper {
    grid-template-columns:repeat(2, minmax(0, 1fr));
  }
}

@media screen and (min-width: @screen-lg) {
  .cardWrapper {
    grid-template-columns:repeat(4, minmax(0, 1fr));
  }
}

@keyframes skeleton {
  0% {
    background-position: 100% 50%;
  }
  50% {
    background-position: 0 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}