.inputShareCodeRow {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding-top: 3.5rem;
  padding-bottom: 5rem;
  input {
    text-align: center;
  }
  button {
    margin-top: 0.5rem;
    margin-left: 0.5rem;
  }
}
