@import '@boclips-ui/styles/src/colors';

.heroWrapper {
  height: 432px;
  background: @blue-100;
  border-radius: 0.25rem;
}

.heroCopyWrapper {
  a {
    color: inherit !important;
  }
}

.svgWrapper {
  margin-right: 150px;
  svg {
    max-width: 427px;
    max-height: 330px;
  }
}
