.durationInput {
  label {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 0.5rem;

    input {
      text-align: center;
    }
    > div {
      &:last-child {
        margin-left: 1rem;
        margin-top: 0 !important;
      }
    }
  }
}
