@import '@src/vars.less';

.header {
  @apply col-start-2 col-end-26 row-start-2 row-end-2;

  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  justify-content: space-between;

  --bo-ui-button-outline-svg-fill: transparent;
  --bo-ui-button-outline-background-color-hover: none;

  .title {
    max-width: 80%;

    .description {
      padding-top: 0.5rem;
    }
  }

  @media (min-width: @screen-md) {
    flex-direction: row;
    align-items: center;
    margin-bottom: 0.5rem;
  }
}
