@import '@boclips-ui/styles/src/colors';
@import '~@boclips-ui/styles/src/breakpoints';

.modalWrapper {
  @apply bg-white w-screen h-screen fixed left-0;
  z-index: 51; // header is set to 50
  overflow: auto;
  top: 0;

  .modal {
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 7px;
    }

    &::-webkit-scrollbar-track {
      border-radius: 100vh;
      background: none;
    }

    &::-webkit-scrollbar-thumb {
      background: @blue-500;
      border-radius: 100vh;
    }
  }

  .modalContent {
    @apply p-4;
    margin-bottom: 5rem;
  }

  .modalHeader {
    @apply flex justify-items-start items-center mb-7 h-8;

    svg {
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  .modalFooter {
    @apply flex items-center fixed bottom-0 mt-6 px-4 py-2 w-screen rounded;
    box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.13);
    background: white;
    z-index: 2;
  }

  .oneButtonFooter {
    justify-content: flex-end;
  }

  .multiButtonFooter {
    justify-content: space-between;
  }
}

@media screen and (min-width: @screen-md) {
  .modalWrapper {
    height: 100%;
    display: flex;
    overflow: auto;
    background: rgba(black, 0.5);

    .modal {
      @apply p-8 bg-white rounded m-auto;
      position: relative;
      width: 764px;
      max-width: 85vw;
      box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.13);
      margin: 2rem auto;
      height: fit-content;
      overflow: hidden;
    }

    .modal.small {
      width: 596px;
    }

    .modalContent {
      @apply p-0;
      height: fit-content;
      margin-bottom: 0;
    }

    .modalHeader {
      @apply flex flex-row justify-between w-full mb-3 bg-white;
    }

    .modalFooter {
      @apply flex relative mt-8 p-0 w-auto h-11 rounded-none;
      box-shadow: none;
    }

    .oneButtonFooter {
      justify-content: center;
    }
  }
}
