.skipToContent {
@apply col-start-2 col-end-5 row-start-1 row-end-1;
  position: relative;
  z-index: 1;

  button {
    opacity: 0;
    pointer-events: none;
  }

  &.focused {
    button {
      opacity: 0;
      pointer-events: all;

      &:focus {
        opacity: 1;
      }
    }
  }

  &:focus-within {
    z-index: 3;
  }
}