@import '@boclips-ui/styles/src/breakpoints';

.openStaxAllyLogo {
  height: 45px;
  width: 142px;

  @media screen and (min-width: @screen-md) {
    height: 55px;
    width: 175px;
  }

  @media screen and (min-width: @screen-lg) {
    height: 67px;
    width: 213px;
  }
}
