
.highlightBadge {
  background-color: #F2EAF1;
  display: flex;
  padding: 0.25rem 0.5rem 0.25rem 0.25rem;
  align-items: center;
  border-radius: 0.25rem;
  font-size: 1rem;
  font-weight: 500;

  .icon {
    color: #7C136B;
    background-color: #7C136B1A;
    border-radius: 0.25rem;
    padding: 2px;
    margin-right: 0.25rem;


    svg {
      margin: 0.25rem;
    }
  }
}
