@import '~@boclips-ui/styles/src/colors';
@import '~@boclips-ui/styles/src/breakpoints';

.playlistsWrapper {
  display: grid;
  grid-column-start: 2;
  grid-column-end: 26;
  grid-gap: 1.5rem;
}

.sharedWithYouOverlay {
  font-size: 0.875rem;
  border-radius: 4px 4px 0 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: @white;
  background-color: @success;
  font-weight: 500;
  width: 100%;
  height: 40px;
}

.cardWrapper {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-gap: 1rem 1.5rem;
}

.description {
  padding-bottom: 1.5rem;
  min-width: 100%;
}

.emptyPlaylistWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 134px;
  background-color: @blue-100;
  border-radius: 4px;

  div {
    text-align: center;
    max-width: 540px;
    padding: 0 1rem;
    font-size: 1rem;
    color: @gray-800;
  }

  svg {
    margin-right: 0.25rem;
    margin-left: 0.25rem;
    margin-bottom: 0.25rem;
    display: inline;

    path {
      stroke: @gray-800;
    }
  }
}

.playlistHeaderContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: 2px solid @blue-400;

  h2 {
    padding-bottom: 1.5rem;
  }
}

.sharePlaylistButton {
  --bo-ui-button-outline-background-color-hover: transparent;
  --bo-ui-button-outline-svg-fill: transparent;
  --bo-ui-button-outline-svg-stroke: @blue-800;
  margin-bottom: 1.5rem;

  button {
    width: auto;
    height: 48px;
    font-size: 1rem;

    div {
      svg {
        path {
          stroke-width: 2px;
        }
      }
    }
  }
}

.cover {
  background-position: center;
  background-size: cover;
  overflow: hidden;
  aspect-ratio: 16/9;
  background-repeat: no-repeat;
  min-height: 100%;
  border-radius: 4px;

  button {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .play {
      position: relative;
      width: 48px;
      height: 48px;
      border-radius: 50%;
      background: #4189ff;
      transition: 0.2s;

      &:after {
        content: '';
        position: absolute;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='white' viewBox='0 0 18 18'%3E%3Cpath d='M15.562 8.1L3.87.225c-.818-.562-1.87 0-1.87.9v15.75c0 .9 1.052 1.462 1.87.9L15.563 9.9c.584-.45.584-1.35 0-1.8z'%3E%3C/path%3E%3C/svg%3E");
        width: 18px;
        height: 18px;
        top: 15px;
        left: 16px;
      }

      &:hover {
        background: #0051bc;
      }
    }
  }

  span {
    visibility: hidden;
    display: none;
  }
}

@media screen and (min-width: @screen-sm) {
  .cardWrapper {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .playlistsWrapper {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .playlistHeaderContainer {
    flex-direction: column;
  }
}

@media screen and (min-width: @screen-md) {
  .cardWrapper {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .playlistsWrapper {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .playlistHeaderContainer {
    flex-direction: row;
  }
}

@media screen and (min-width: @screen-lg) {
  .cardWrapper {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .playlistsWrapper {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .description {
    padding-right: 244px;
  }
}
