@import '@src/vars.less';

.playlistsWrapper {
  grid-column-start: 2;
  grid-column-end: 26;
  grid-row-start: 3;
  grid-row-end: 4;
}

.skeletonWrapper {
  display: grid;
  grid-column-start: 2;
  grid-column-end: 26;
  grid-gap: 1.5rem;
}

.sharedWithYouOverlay {
  font-size: 0.875rem;
  border-radius: 4px 4px 0 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: @white;
  background-color: #0a855c;
  font-weight: 500;
  width: 100%;
  height: 40px;
}

.cardWrapperGrid {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-gap: 1rem 1.5rem;
  place-content: start;
  grid-row-start: 4;
  grid-row-end: 4;
  grid-column-start: 2;
  grid-column-end: 26;
}

.skeletonCard {
  width: 100%;
  position: relative;
  min-height: 289px;
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
  display: grid;
  grid-template-rows: minmax(min-content, max-content) auto auto;
}

.description {
  margin-top: 0.5rem;
  min-width: 100%;
}

.emptyPlaylistWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row-start: 3;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 26;
}

.modeList {
  grid-column-start: 2;
  grid-column-end: 26;
}

.playlistNavigation {
  display: flex;
  flex-direction: row;
  min-width: 100%;
  font-size: 0.875rem;
  align-items: center;
  margin-bottom: 0.5rem;

  svg {
    margin-left: 0.875rem;
    margin-right: 0.6875rem;
  }
}

.cover {
  background-position: center;
  background-size: cover;
  aspect-ratio: 16/9;
  background-repeat: no-repeat;
  min-height: 100%;
  border-radius: 4px;

  button {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .play {
      position: relative;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background: @white;
      transition: 0.2s;

      &:after {
        content: '';
        position: absolute;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%230e69ff' viewBox='0 0 18 18'%3E%3Cpath d='M15.562 8.1L3.87.225c-.818-.562-1.87 0-1.87.9v15.75c0 .9 1.052 1.462 1.87.9L15.563 9.9c.584-.45.584-1.35 0-1.8z'%3E%3C/path%3E%3C/svg%3E");
        width: 22px;
        height: 22px;
        top: 19px;
        left: 22px;
      }

      &:hover {
        &:after {
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23193DA1' viewBox='0 0 18 18'%3E%3Cpath d='M15.562 8.1L3.87.225c-.818-.562-1.87 0-1.87.9v15.75c0 .9 1.052 1.462 1.87.9L15.563 9.9c.584-.45.584-1.35 0-1.8z'%3E%3C/path%3E%3C/svg%3E");
        }
      }
    }
  }

  span {
    visibility: hidden;
    display: none;
  }
}

.gridView {
  :global(.ant-list-items) {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 26;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-gap: 1.5rem;
  }

  .pagination {
    margin-top: 60px;
  }
}

.playlistSubheader {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  color: @gray-700;
  margin: 0 0.25rem;
  align-items: center;
  overflow: hidden;
}

.playlistTabs {
  .tabNavBar {
    border-bottom: 2px solid @gray-400;
  }

  .tabHeader {
    color: @gray-700;
    padding: 1rem 1rem 0.5rem;
    margin-right: 1rem;

    &:first-child {
      padding: 1rem 1rem 0.5rem 0;
    }

    :hover {
      color: @gray-900;
    }
  }

  .tabHeader[data-state='active'] {
    color: @gray-900;
    position: relative;

    &:after {
      content: '';
      background-color: @blue-800;
      position: absolute;
      height: 4px;
      bottom: -3px;
      width: 100%;
      left: 0;
      border-radius: 4px;
    }
  }

  .tabContent {
    padding-top: 2rem;
  }
}

.playlistAssetNote {
  @apply bg-blue-200;
  border-radius: 4px;
  margin-bottom: 0.5rem;
  padding: 1rem;
}

@media screen and (min-width: @screen-sm) {
  .cardWrapperGrid {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .skeletonWrapper {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .playlistHeaderContainer {
    flex-direction: column;
    align-items: flex-start;
  }

  .gridView {
    :global(.ant-list-items) {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
  }
}

@media screen and (min-width: @screen-md) {
  .cardWrapperGrid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .skeletonWrapper {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .playlistHeaderContainer {
    flex-direction: row;
    align-items: center;
  }

  .gridView {
    :global(.ant-list-items) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
}

@media screen and (min-width: @screen-lg) {
  .cardWrapperGrid {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .skeletonWrapper {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .description {
    padding-right: 244px;
  }

  .gridView {
    :global(.ant-list-items) {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }
  }
}
