@import '~@boclips-ui/styles/src/colors';
@import '~@boclips-ui/styles/src/breakpoints';


.playlistsWrapper {
  display: grid;
  grid-column-start: 2;
  grid-column-end: 26;
  grid-gap: 1.5rem;
}

.playlistTile {
  width: 100%;
  height: 289px;
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);

  &.skeleton {
    animation: skeleton ease-in 1s infinite;
    background: linear-gradient(90deg,
    @gray-100 25%,
    @gray-300 37%,
    @gray-100 63%);

    background-size: 200% 200%;
    border-color: @gray-200;
  }
}

.thumbnailsContainer {
  display: grid;
  grid-template-columns:repeat(2, minmax(0, 1fr));;
  grid-column-gap: 0.25rem;
  grid-row-gap: 0.25rem;
  height: 174px;
}

.thumbnail {
  border-radius: 0.25rem;
  height: 100%;
}

.header {
  margin-top: 0.25rem;
  padding: 0.25rem;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 700;
  color: @gray-900;
  text-transform: capitalize;
}

@media screen and (min-width: @screen-sm) {
  .playlistsWrapper {
    grid-template-columns:repeat(1, minmax(0, 1fr));
  }
}

@media screen and (min-width: @screen-md) {
  .playlistsWrapper {
    grid-template-columns:repeat(2, minmax(0, 1fr));
  }
}

@media screen and (min-width: @screen-lg) {
  .playlistsWrapper {
    grid-template-columns:repeat(4, minmax(0, 1fr));
  }
}

@keyframes skeleton {
  0% {
    background-position: 100% 50%;
  }
  50% {
    background-position: 0 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
