@import "~@boclips-ui/styles/src/breakpoints";

.logo {
    padding-top: 0.25rem;
    padding-bottom: 0.5rem;
  svg {
    height:43px;
    width:auto;
    shape-rendering: geometricPrecision;
  }
}


@media screen and (min-width: @screen-lg) {
  .logo {
    svg {
      height: 56px;
      width: auto;
      shape-rendering: geometricPrecision;
    }
  }
}

