@import '~@boclips-ui/styles/src/breakpoints';
@import '~@boclips-ui/styles/src/publishersColours';

.navbar {
@apply items-center h-full bg-white;
  position: sticky;
  top: 0px;
  z-index: 50;
  height: 75px;

  &:after {
    content: '';
    width: 100vw;
    height: 75px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: white;
    box-shadow: 0 2px 8px 0 rgba(0, 21, 80, 0.15);
  }
}

.navbarResponsive {
@apply items-center h-full bg-white;
  position: sticky;
  top: 0px;
  z-index: 50;

  .logo {
  @apply col-start-2 col-end-5 row-start-1 row-end-1;
  }

  &:after {
    content: '';
    width: 100vw;
    height: 121px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: white;
    box-shadow: 0 2px 8px 0 rgba(0, 21, 80, 0.15);
  }

  .buttons {
  @apply col-start-24 col-end-26 row-start-1 row-end-1 flex justify-end items-center;
    height: 48px;
  }

  .buttonsDesktop {
  @apply col-start-20 col-end-26 row-start-1 row-end-1 flex h-full justify-end;
    height: 74px;
  }
}

.slideMenu {
  height: 100vh;
  width: 300px;
  background: @white;
  top: 121px;
  right: 0;
  position: fixed;
  z-index: 2;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
  animation-name: slideIn;
  animation-duration: 300ms;
  animation-timing-function: ease-in-out;
  padding: 1.5rem;

  .userInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 2rem;

    span {
      &:first-child {
        font-size: 1rem;
        font-weight: 500;
      }

      &:last-child {
        font-size: 0.75rem;
        font-weight: 400;
      }
    }
  }

  .buttons {
    display: flex;
    flex-direction: column;

    & > * {
      width: 100%;
      height: 44px;
      font-size: 1rem;
      font-weight: 400;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      color: @gray-800;
      position: relative;
      z-index: 1;

      &:hover {
        &:after {
          content: '';
          position: absolute;
          width: calc(100% + 3rem);
          height: 100%;
          left: -1.5rem;
          top: 0;
          background: @blue-400;
          z-index: -1;
        }
      }
    }
  }
}

@keyframes slideIn {
  from {
    right: -80%;
  }
  to {
    right: 0;
  }
}


@media (min-width: @screen-sm) {
  .logo {
  @apply pt-4 pb-2;
  }
}

@media (min-width: @screen-lg) {
  .navbarResponsive {
    height: 74px;

    &:after {
      height: 74px;
    }

    .logo {
      padding: 0;
    }
  }

}
