.shareLinkButton {
  --bo-ui-button-svg-height: 24px;
  --bo-ui-button-svg-width: 24px;
}

.shareLinkBodalButtons {
  flex-direction: column;
  align-content: center;
  justify-content: center!important;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}
