@import '@boclips-ui/styles/src/colors';


.iconOnlyButtons {
  display: flex;
  flex-direction: row;
  --bo-ui-button-svg-height: 18px;
  --bo-ui-button-svg-width: 18px;
  & > div {
    margin-right: 0.25rem;
  }
}
