@import '~@boclips-ui/styles/src/colors';


.iconOnlyButtons {
  --bo-ui-button-outline-background-color-hover: transparent;
  --bo-ui-button-outline-svg-fill: transparent;
  --bo-ui-button-outline-svg-stroke: @blue-800;

  button {
    margin-right: 0.25rem;
  }
}
