@import '@boclips-ui/styles/src/colors';
@import '@boclips-ui/styles/src/focus';

.playlistHeaderContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: 2px solid @gray-400;
  padding-bottom: 1.5rem;

  .playlistBadges {
    display: flex;
    flex-direction: row;
  }

  .playlistBadge {
    padding: 0.125rem 0 0.5rem;
    color: @gray-700;
    display: flex;
    align-items: center;

    &::before {
      content: '•';
      color: @blue-900;
      font-size: 1.5rem;
      padding-right: 4px;
      padding-left: 4px;
      line-height: 1.5rem;
    }

    &:first-child::before {
      content: none;
    }
  }

  .playlistButtons {
    display: flex;
    flex-direction: row;

    & .playlistButton:first-child {
      margin-right: 0.5rem;
    }

    .playlistButton {
      --bo-ui-button-outline-background-color-hover: transparent;
      --bo-ui-button-outline-svg-fill: transparent;
      --bo-ui-button-outline-svg-stroke: @blue-800;

      button {
        width: auto;
        height: 48px;
        font-size: 1rem;
      }

      .optionsButton {
        --bo-ui-button-svg-height: 6px;
        --bo-ui-button-svg-width: 24px;

        &[data-state='open'] {
          --bo-ui-button-outline-text-colour: @blue-900;
          --bo-ui-button-outline-border: 2px solid @blue-900;
        }

        svg {
          stroke: none;
        }
      }
    }
  }
}

.optionsDropdownWrapper {
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
  background: @white;
  border-radius: 4px;
  width: 230px;
  padding: 0.25rem;

  .optionsItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    color: @gray-800;
    padding: 0.5rem;
    margin: 0.25rem;
    #focus;

    svg {
      margin-right: 0.75rem;
    }

    &:hover {
      color: @blue-800;
    }
  }
}
