@import '@boclips-ui/styles/src/colors';
@import '@boclips-ui/styles/src/focus';

#barOnBottom {
  content: '';
  position: absolute;
  bottom: -0.5rem;
  right: 0;
  width: 100%;
  background-color: @blue-800;
  height: 6px;
  border-radius: 4px 4px 0px 0px;
}

.type {
  display: inline-block;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
  position: relative;
  #focus;

  &.active {
    &::after {
      #barOnBottom;
    }
  }

  &:before {
    display: block;
    content: attr(name);
    font-weight: bold;
    height: 0;
    overflow: hidden;
    visibility: hidden;
  }
}

.typeList {
  display: flex;
  color: @gray-600;
  border-bottom: 2px solid @gray-400;
  overflow-x: auto;

  &::-webkit-scrollbar {
    display: none;
  }
}

.typeSkeleton {
  height: 30px;
  width: 67px;
  margin-right: 1.5rem;
  margin-bottom: 0.25rem;

  border-radius: 4px;
  animation: skeleton ease-in 1s infinite;
  background: linear-gradient(
    90deg,
    @gray-100 25%,
    @gray-400 37%,
    @gray-100 63%
  );
  background-size: 200% 200%;
  border: 1px solid @gray-400 !important;
}

@keyframes skeleton {
  0% {
    background-position: 100% 50%;
  }
  50% {
    background-position: 0 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
