@import '@boclips-ui/styles/src/colors';
@import '~@boclips-ui/styles/src/breakpoints';

.cardWrapper {
  border-radius: 0.25rem;
  background: @white;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
  padding: 1.5rem 0;
  min-width: fit-content;
  margin-bottom: 1rem;

  &.grid {
    display: grid;
  }
}

.videoWrapper {
  align-self: center;
  padding-left: 1.5rem;
}

.licenseCardInfo {
  display: flex;
  flex-direction: column;

  & > * {
    margin-bottom: 1rem;
  }

  .title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-wrap: break-word;
    white-space: normal;
  }

  .title:hover {
      text-decoration-line: underline;
  }

  .link {
    color: @blue-700;
    text-decoration-line: underline;
  }

  .label {
    color: @gray-900;
    font-size: 0.875rem;
    font-weight: 500;
    margin-top: 0.5rem;
    &:after {
      content: ' ';
    }
  }

  .value {
    color: @gray-900;
    font-size: 0.875rem;
  }

  .videoMetadataRow {
    color: @gray-800;
    display: flex;
    flex-direction: row;
    align-items: center;

    > div:last-child {
      &:before {
        height: 1.5rem;
        content: '•';
        color: @blue-800;
        padding: 0 0.25rem;
        line-height: 1.5rem;
        font-size: 1rem;
      }
    }
  }
}

.actionButtons {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding-right: 1.5rem;
  gap: 1rem;
}

.primaryButton {
  & button {
    padding: 0 !important;
  }
}

.assetsButton {
  --bo-ui-button-outline-background-color-hover: transparent;
  --bo-ui-button-outline-svg-fill: transparent;
  --bo-ui-button-outline-svg-stroke: @blue-800;

  button {
    width: 168px;
    height: 48px;
    font-size: 1rem;
  }

  .assetsDropdown {
    &[data-state='open'] {
      --bo-ui-button-outline-text-colour: @blue-900;
      --bo-ui-button-outline-border: 2px solid @blue-900;
    }
  }
}

.assetsDropdownItemsWrapper {
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
  background: @white;
  border-radius: 4px;
  width: 162px;
  padding: 0.25rem;

  .assetDropdownItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    color: @gray-800;
    padding: 0.5rem;
    margin: 0.25rem;

    svg {
      margin-right: 0.75rem;
    }

    &:hover {
      color: @blue-800;
    }
  }
}

@media screen and (min-width: @screen-sm) {
  .grid {
    grid-template-columns: min-content 1fr min-content;
    grid-template-rows: repeat(1, min-content);
    grid-column-gap: 1.5rem;
  }

  .videoWrapper {
    min-width: 280px;
  }

  .licenseCardInfo {
    padding-right: 1.5rem;
  }
}

@media screen and (min-width: @screen-lg) {
  .grid {
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: repeat(1, min-content);
    grid-column-gap: 1.5rem;
  }
  .videoWrapper {
    grid-column-start: 1;
    grid-column-end: 8;
  }

  .licenseCardInfo {
    grid-column-start: 8;
    grid-column-end: 19;
  }

  .actionButtons {
    grid-column-start: 19;
    grid-column-end: 25;
  }
}
