@import '~@boclips-ui/styles/src/colors';

@box-shadow: var(
  --bo-ui-video-card-box-shadow,
  0px 4px 12px rgba(0, 0, 0, 0.1)
);

.playerWrapper {
  background: @white;
  position: relative;
  width: 100%;
  padding: 0.5rem 0.25rem;
  border-radius: 0.25rem;

  .header {
    padding: 0.5rem;
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
    line-height: 1.5rem;
    justify-content: space-between;

    svg {
      color: #852675;
    }

    p {
      display: flex;
      align-items: center;
      font-weight: 700;

      .icon {
        padding: 0.25rem;
        background-color: #7C136B1A;
        border-radius: 0.25rem;
        margin-right: 0.25rem;
      }
    }

    .durationBadge {
      background: @gray-800;
      border-radius: 0.25rem;
      padding: 0 0.5rem;
      color: @white;
    }
  }

  .buttonWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 0.5rem;
    justify-content: space-between;
    margin-top: 1rem;

    p {
      margin-right: 0.5rem;
    }

    .actionButtons {
      display: flex;
      flex-direction: row;
      gap: 0.5rem;

      svg {
        color: @white;
        fill: @blue-800;
      }

      .embedButton {
        --bo-ui-button-svg-height: 24px;
        --bo-ui-button-svg-width: 24px;
      }

      .shareLinkButton {
        --bo-ui-button-svg-height: 24px;
        --bo-ui-button-svg-width: 24px;
      }
    }
  }

  .clipDetails {
    padding: 0.5rem 0.5rem 1rem;
    border-bottom: @gray-100 1px solid;

    .clipTitle {
      font-size: 1.25rem;
      font-weight: 700;
    }

    .channelName {
      padding-top: 0.5rem;
      font-size: 0.9rem;
      font-weight: 500;
    }
  }

  .videoDetails {
    margin: 1rem 0.5rem 0.25rem 0.5rem;
    padding: 1rem 0.5rem;
    display: flex;
    align-items: center;
    border-radius: 0.25rem;

    p {
      font-weight: 500;
    }

    a {
      display: flex;
      align-items: center;
      padding-left: 1rem;
      justify-content: space-between;
      flex: 1;
      color: @blue-800;

      svg {
        margin-left: auto;
        height: 1rem;
        width: 1rem;
      }

      .thumbnail {
        margin-right: 0.5rem;
        width: 3.5rem;
        height: 2rem;
      }
    }
  }
}
