.searchWrapper {
  --bo-ui-search-bar-width: 612px;
  --bo-ui-search-bar-max-width: 612px;

  &&.responsive {
    --bo-ui-search-bar-width: auto;
    --bo-ui-search-bar-max-width: auto;
    --bo-ui-search-bar-height: 48px;
  }

  &.big {
    --bo-ui-search-bar-height: 56px;
  }

  &.small {
    --bo-ui-search-bar-height: 48px;
  }
}
