@import '~@boclips-ui/styles/src/colors';

.card {
  width: 100%;
  height: 300px;
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

.thumbnail {
  border-radius: 0.25rem;
  height: 175px;
}

.defaultThumbnail {
  background-color: @blue-400;
}

.videoTitle {
  margin-top: 0.25rem;
  margin-bottom: 2.09px;
  margin-left: 4px;
  padding: 0.25rem;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 700;
  color: @gray-900;
  text-transform: capitalize;
}
