@import '~@boclips-ui/styles/src/colors';

.gridCard {
  width: 100%;
  position: relative;
  min-height: 268px;
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
  display: grid;
  grid-template-rows:
    minmax(min-content, max-content) minmax(min-content, max-content)
    auto auto;
  align-content: start;

  &:hover {
    .playerBadge {
      z-index: 3;
    }
  }
}

.playerBadge {
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;
  border-radius: 0.25rem;
  background-color: @blue-800;
  padding: 0 0.25rem;
}

.header {
  padding: 0.25rem;
  height: auto;

  a {
    color: @gray-900 !important;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;

    &:focus {
      background-color: unset;
    }
  }
}

.videoSubheader {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  color: @gray-700;
  margin-left: 0.25rem;
  align-items: center;

  button {
    position: relative;

    .createdBy {
      @apply text-gray-900 hover:underline hover:decoration-solid;
      max-width: 100px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  span {
    --bo-ui-badge-margin: 0;
    --bo-ui-badge-padding: 2px 4px 2px 4px;
    position: relative;
    padding: 0 0.25rem;
    height: 24px;
    display: flex;
    align-items: center;

    &:nth-child(n + 2) {
      &:before {
        height: 24px;
        content: '•';
        color: @blue-800;
        padding-right: 4px;
        line-height: 1.5rem;
        font-size: 1rem;
        z-index: 1;
      }
    }
  }
}
