@import '~@boclips-ui/styles/src/colors';

.modalTotalPrice {
  @apply flex justify-between font-bold text-lg pt-5 mt-5 text-gray-900;
}

.modalItemsList {
  margin-top: 1rem;
  overflow: auto;
  max-height: 50vh;

  &::-webkit-scrollbar {
    width: 7px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: none;
  }

  &::-webkit-scrollbar-thumb {
    background: @blue-500;
    border-radius: 100vh;
  }
}
