@import '~@boclips-ui/styles/src/colors';

.sparksHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: @gray-800;
}

.sparksTitle {
  color: @blue-700;
}

.sparksDescription {
  max-width: 540px;
  font-size: 18px;
  margin-top: 1rem;
  color: @gray-900;
}