@import '~@boclips-ui/styles/src/breakpoints';

.providerLogo {
  display: block;
  max-height: 45px;
  max-width: 142px;
  width: auto;
  height: auto;

  @media screen and (min-width: @screen-md) {
    max-height: 55px;
    max-width: 175px;
  }

  @media screen and (min-width: @screen-lg) {
    max-height: 67px;
    max-width: 213px;
  }
}
