.assistantButton{
  display: flex;
  align-items: center;
  justify-content: center;

  button {
    --bo-ui-button-outline-background-color-hover: transparent;
    text-decoration: underline;
    width: fit-content;
    padding: 0;
    margin-right: 0.5rem;
  }
}
