@import 'boclips-ui/styles/colors.less';

.carouselWrapper {
  border-radius: 4px;
  max-height: 370px;
  padding: 1rem;
  position: relative;

  .createdBy {
    color: @gray-900;
    margin: 0.5rem 0;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
