@import '@boclips-ui/styles/src/colors';
@import '~@boclips-ui/styles/src/breakpoints';

.emptyCard {
  min-height: 245px;
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
  display: grid;
  grid-template-rows: 70% 30%;
}

.emptyMessagingGrid {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1.5rem;
}

.section {
  padding-bottom: 2rem;
  margin-bottom: 0.5rem;
  border-bottom: 2px solid @gray-400;
}

.navChapTitle {
  font-size: 1rem;
  color: @gray-700;
}

.tocHeader {
  --bo-ui-button-outline-background-color-hover: none;
  --bo-ui-button-svg-height: 1.5rem;
  --bo-ui-button-svg-width: 1.5rem;
  --bo-ui-button-padding: 0.75rem 0rem;
  @apply flex items-center justify-between;

  svg {
    width: 1.5rem;
    height: 1.5rem;
  }

  @media screen and (min-width: @screen-lg) {
    @apply -mt-6 pt-6 border-r border-gray-400 border-b pb-4;
    border-right-style: solid;
    border-bottom-style: solid;
  }
}

.tocContent {
  @media screen and (min-width: @screen-lg) {
    @apply border-r border-gray-400 pr-6;
    border-right-style: solid;
  }
}

.bookHeader {
  --bo-ui-button-outline-svg-fill: none;
  --bo-ui-button-svg-height: 1.5rem;
  --bo-ui-button-svg-width: 1.5rem;
  --bo-ui-button-outline-background-color-hover: none;
  --bo-ui-button-padding: 0.75rem 0.5rem;
}

.anchor {
  @media (min-width: @screen-lg) {
    scroll-margin-top: 75px;
  }
  scroll-margin-top: 130px;
}
