@import '@boclips-ui/styles/src/colors';
@import '~@boclips-ui/styles/src/breakpoints';
@import '~@boclips-ui/styles/src/focus';

.emptyCard {
  min-height: 245px;
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
  display: grid;
  grid-template-rows: 70% 30%;
}

.emptyMessagingGrid {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1.5rem;
}

.section {
  padding-bottom: 2rem;
  margin-bottom: 1rem;
  border-bottom: 2px solid @gray-400;
}

.navChapTitle {
  font-size: 1rem;
  color: @gray-700;
}

.tocHeader {
  --bo-ui-button-outline-background-color-hover: none;
  --bo-ui-button-svg-height: 1.5rem;
  --bo-ui-button-svg-width: 1.5rem;
  --bo-ui-button-padding: 0.75rem 0rem;
  @apply flex items-center justify-between;
  padding: 2rem 0 0.5rem 0;
  position: sticky;
  top: 0;
  background: @white;
  z-index: 1;

  h1 {
    width: 100%;
    text-align: center;
  }

  .closeButton {
    position: absolute;
    right: 0;
  }

  svg {
    width: 1.5rem;
    height: 1.5rem;
  }

  @media screen and (min-width: @screen-lg) {
    @apply pt-6 border-r border-gray-400 border-b pb-4;
    border-right-style: solid;
    border-bottom-style: solid;
    top: 74px;
  }
}

.tocContent {
  [data-state='open'][role='region'] {
    padding-bottom: 1rem;
  }

  @media screen and (min-width: @screen-lg) {
    @apply border-r border-gray-400;
    border-right-style: solid;
  }
}

.bookHeader {
  --bo-ui-button-outline-svg-fill: none;
  --bo-ui-button-svg-height: 1.5rem;
  --bo-ui-button-svg-width: 1.5rem;
  --bo-ui-button-outline-background-color-hover: none;
  --bo-ui-button-padding: 0.75rem 0.5rem;
}

.anchor {
  @media (min-width: @screen-lg) {
    scroll-margin-top: 75px;
  }
  scroll-margin-top: 130px;
}

.courseTitle {
  color: @gray-800;
  font-weight: 400;
  font-size: 0.875rem !important;
  line-height: 1.25rem;
  padding: 0.5rem 1.5rem 0.5rem 0;

  &:hover {
    background-color: @blue-100;
  }
}

.sectionAnchor {
  &:focus > h3 > span {
    outline: @focus-outline;
    outline-offset: @focus-outline-offset;
    border-radius: 0.25rem;
  }
}

.selectedSection {
  background-color: @blue-100;
  border-right: @blue-800 6px solid;
}

.chevronIcon {
  transition: transform 0ms;

  [data-state='open'] & {
    transform: rotate(180deg);
  }
}
