@import '@boclips-ui/styles/src/colors';

.emptyCard {
  min-height: 245px;
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
  display: grid;
  grid-template-rows: 70% 30%;
}

.emptyMessagingGrid {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1.5rem;
}

.section {
  padding-bottom: 2rem;
  margin-bottom: 0.5rem;
  border-bottom: 2px solid @gray-400;
}

.navChapTitle {
  font-size: 16px;
  color: @gray-700;
}

.navigationPanel {
  padding-right: 1rem;
  border-right: 1px solid @gray-400;

  .bookTitle {
    padding-bottom: 24px;
    grid-column-end: -1;
    border-bottom: 1px solid @gray-400;
  }
}
