@import '~@boclips-ui/styles/src/colors';


.downloadCaptions{
  background-color: @white;
  color: @blue-800;
  padding: 0;
  border: @blue-800 2px solid;
  &:hover {
    background-color: @blue-100 !important;
  }
  &:active {
    color: @blue-900 !important;
  }
}