@import '@boclips-ui/styles/src/colors';
@import '~@boclips-ui/styles/src/breakpoints';

.overlay {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 51;
  background: @white;
  overflow-y: scroll;
  padding: 0 1.375rem;
}

.sticky {
  align-self: start;
  position: sticky;
  top: 74px;
  overflow-y: scroll;
  height: calc(100vh - 158px - 1rem);  // full view port - 2x header - grid gap

  &::-webkit-scrollbar {
    width: 7px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: none;
  }

  &::-webkit-scrollbar-thumb {
    background: @blue-500;
    border-radius: 100vh;
  }
}
