@import '@boclips-ui/styles/src/colors';
@import '~@boclips-ui/styles/src/breakpoints';

.overlay {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 51;
  background: @white;
  overflow-y: scroll;
  padding: 0 1.375rem;
}