@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'vars.less';
@import '~@boclips-ui/styles/src/colors';

@layer base {
  img,
  video {
    max-width: none !important;
  }

  h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
  }


  h1 {
  @apply font-medium text-h1;
  }

  h2 {
  @apply text-h2;
    color: inherit !important;
    font-size: 2rem;
    font-weight: 500;
    line-height: 3rem;
    margin-bottom: 0!important;
  }

  h3 {
  @apply text-h3;
  }

  h4 {
  @apply text-h4;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.5rem;
  }


  a, .button-link {
    color: @blue-800 !important;

    &:hover {
      text-decoration: underline;
      color: @blue-800;
    }

    &:active {
      color: @blue-900;
    }

    &:focus {
      background: #FFC966;
    }
  }

  .container {
    min-width: 1280px;
  }
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
html {
  font-family: @font-family !important;
}

#hs-eu-decline-button {
  color: @blue-800 !important;
}

#hs-eu-confirmation-button {
  color: @white !important;
}
