@import '@boclips-ui/styles/src/breakpoints';

.badges {
  @apply flex flex-row flex-wrap;
  --bo-ui-badge-border: none;
  --bo-ui-badge-margin: 0 2px 4px 2px;

  & span:first-child {
    margin-left: 0 !important;
  }
}

.buttons {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0.5rem 0;
}

.descriptionAndButtons {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
}

@media screen and (min-width: @screen-lg) {
  .sticky {
    flex-shrink: 0;
  }

  .descriptionAndButtons {
    flex-direction: column;
  }

  .buttons {
    justify-content: space-between;
    margin: 0 0;
  }
}

.buttonsGroup {
  display: flex;
  flex-direction: row;

  button {
    margin-right: 0.25rem;
  }
}
