@import '~@boclips-ui/styles/src/colors';
@import "~@boclips-ui/styles/src/breakpoints";

.badges {
  @apply flex flex-row flex-wrap;
  --bo-ui-badge-border: none;
  --bo-ui-badge-margin: 0 2px 4px 2px;

  & span:first-child {
    margin-left: 0 !important;
  }
}

.buttons {
  @apply flex flex-row lg:justify-between;
  width: 100%;
}

@media screen and (min-width: @screen-lg) {
  .scrollableDescription {
    flex-grow: 1;
    flex-basis: 0;
    overflow-y: auto;
  }

  .sticky {
    flex-shrink: 0;
  }
}

.iconButtons {
  display: flex;
  flex-direction: row;

  button {
    margin-right: 0.25rem;
  }
}
