@import '~@boclips-ui/styles/src/breakpoints';

.fullWidth {
  @apply col-start-2 col-end-26;
}

.playerSection {
  @apply fullWidth row-start-2 lg:col-start-2 lg:col-end-18 lg:row-end-4;
}

.headerSection {
  @apply fullWidth row-start-3 row-end-3 lg:col-start-18 lg:col-end-26 lg:row-start-2 lg:row-end-4;
}

.descriptionSection {
  margin-top: 1rem;
  @apply fullWidth row-start-4 row-end-4 -mt-2 lg:col-start-2 lg:col-end-18 lg:row-start-4 lg:row-end-4;
}

.recommendedVideosSection {
  @apply fullWidth row-start-4 row-end-6 col-start-2 col-end-26;
}

.recommendedVideosSectionTitle {
  margin-bottom: 1rem;
}

.recommendedVideosGrid {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-gap: 1rem 1.5rem;
}

@media screen and (min-width: @screen-lg) {
  .recommendedVideosGrid {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
