.fullWidth {
  @apply col-start-2 col-end-26;
}

.playerSection {
  @apply fullWidth row-start-2 lg:col-start-2 lg:col-end-18 lg:row-end-5;
  max-height: calc(100vh - 121px - 64px);
  display: flex;
  flex-direction: column;
}

.headerSection {
  @apply fullWidth row-start-3 row-end-3 lg:col-start-18 lg:col-end-26 lg:row-start-2 lg:row-end-2;
}

.descriptionSection {
  @apply fullWidth row-start-4 row-end-4 -mt-2 lg:-mt-6 lg:col-start-2 lg:col-end-18 lg:row-start-5 lg:row-end-5;
}

.additionalServicesSection {
  @apply fullWidth row-start-5 row-end-5 -mt-6 lg:col-start-18 lg:col-end-26 lg:row-start-3 lg:row-end-6;
}
