@import '~@boclips-ui/styles/src/colors';

.licenseDuration {
  --bo-ui-badge-border: 2px solid @warning;
  --bo-ui-badge-background-color: @warning-bg;
  --bo-ui-badge-margin: 0.5rem 0;
  --bo-ui-badge-padding: 0 0.5rem;
  width: fit-content;
}
