@import '~@boclips-ui/styles/src/colors';

.formHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column-start: 9;
  grid-column-end: 19;
  grid-row-start: 2;
  grid-row-end: 3;
}

.formInputsWrapper {
  display: flex;
  flex-direction: column;
  grid-column-start: 9;
  grid-column-end: 19;
  grid-row-start: 3;
  grid-row-end: 4;
}

.input {
  margin-bottom: 0.5rem;
}

.createAccountButtonWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column-start: 9;
  grid-column-end: 19;
  grid-row-start: 4;
  grid-row-end: 5;
}

.createAccountButton {
  height: 48px
}

.spinner {
  padding-bottom: 0.5rem;
}
