@import '~@boclips-ui/styles/src/colors';
@import '~@boclips-ui/styles/src/breakpoints';

.formHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column-start: 2;
  grid-column-end: 26;
  grid-row-start: 2;
  grid-row-end: 3;
}

.formInputsWrapper {
  display: flex;
  flex-direction: column;
  grid-row-start: 3;
  grid-row-end: 4;
  border: 1px solid @blue-600;
  border-radius: 15px;
  background: #FFF;
  padding: 2rem;
  box-shadow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.25);
}

.input {
  margin-bottom: 0.5rem;
}

.createAccountButtonWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column-start: 9;
  grid-column-end: 19;
  grid-row-start: 4;
  grid-row-end: 5;
}

.createAccountButton {
  height: 48px
}

.spinner {
  padding-bottom: 0.5rem;
}

.blueText {
  color: @blue-700;
}

.emailVerificationPromptWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid @blue-600;
  border-radius: 15px;
  background: #FFF;
  box-shadow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.25);
  padding: 2rem;
  grid-row-start: 2;
  grid-row-end: 6;
  grid-column-start: 9;
  grid-column-end: 19;
}

.message {
  margin-top: 2rem;
  max-width: 538px;
  p {
    margin-bottom: 2rem;
    color: @gray-800;
    font-weight: 400;
    font-size: 1rem;
    line-height: 150%;
  }
}

@media screen and (min-width: @screen-sm) {
  .formInputsWrapper {
    grid-column-start: 2;
    grid-column-end: 26;

    input, textarea {
      &::placeholder {
        font-size: 0.75rem !important;
      }
    }

    button {
      span {
        font-size: 0.75rem !important;
      }
    }
  }

  .emailVerificationPromptWrapper {
    grid-column-start: 2;
    grid-column-end: 26;
  }
}

@media screen and (min-width: @screen-md) {
  .formInputsWrapper {
    grid-column-start: 4;
    grid-column-end: 24;

    input, textarea {
      &::placeholder {
        font-size: 1rem !important;
      }
    }

    button {
      span {
        font-size: 1rem !important;
      }
    }
  }

  .emailVerificationPromptWrapper {
    grid-column-start: 4;
    grid-column-end: 24;
  }
}

@media screen and (min-width: @screen-lg) {
  .formInputsWrapper {
    grid-column-start: 8;
    grid-column-end: 20;
  }

  .emailVerificationPromptWrapper {
    grid-column-start: 8;
    grid-column-end: 20;
  }
}
